<div class="min-h-screen bg-gray-50 text-gray-900">
  <!-- Nagłówek -->
  <header class="bg-slate-100 shadow p-4 flex items-center justify-between">
    <a routerLink="/" class="font-semibold hover:text-amber-400 text-3xl">Giełda</a>

    <nav class="space-x-12">
      @if (!isLoggedIn()) {

        <a routerLink="/register" class="text-2xl text-gray-800 hover:text-amber-400 pointer-events-auto">Zarejestruj się</a>
        <a routerLink="/login" class="text-2xl text-gray-800 hover:text-amber-400 pointer-events-auto">Zaloguj się</a>
      } @else {
          @if(balance !== null) {
          <span class="text-gray-700">Saldo: {{ balance | currency:'USD' }}</span>
        }
        <a routerLink="/wallet" class="text-green-600 hover:underline">Mój portfel</a>
        <button (click)="logout()" class="text-red-600 hover:underline">Wyloguj się</button>
      }
    </nav>
  </header>

  <!-- Routing -->
  <main class="p-6">
    <router-outlet></router-outlet>
  </main>
</div>