<div class="max-w-md mx-auto mt-10 p-4 border rounded-xl shadow">
    <h2 class="text-xl font-bold mb-4">Rejestracja</h2>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <input ngModel="username" name="username" placeholder="Nazwa użytkownika" class="block w-full mb-3 p-2 border rounded" required />
      <input ngModel="password" name="password" placeholder="Hasło" type="password" class="block w-full mb-3 p-2 border rounded" required />
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Zarejestruj się</button>
    </form>
  </div>