<h2 class="text-xl font-bold mb-4">Dostępne akcje</h2>
    <ul>
        @for (stock of stocks; track stock.symbol) {
      <li class="mb-2 p-2 border rounded" (click)="selectStock(stock)" 
          [class.bg-blue-100]="selectedStock?.symbol === stock.symbol">
        <strong>{{ stock.symbol }}</strong> - {{ stock.name }}: 
        <span class="text-green-600">{{ stock.price | currency:'USD' }}</span>
      </li>
    }
    </ul>

<div class="fixed bottom-4 right-4 w-[300px] z-50">
  @if (selectedStock) {
    <app-buy-stocks [stock]="selectedStock" (bought)="onBought()" (cancel)="closeStock()"/>
}
</div>